.ProjectsList{
    width: 100%;
    padding: 60px 0 45px;
    text-align: center;
    position: relative;
    z-index: 1;
    background:#F3F3F3;
}


.ProjectsList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ProjectsList li:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ProjectsList li:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.ProjectsList li.active{
    background: #222;
    color: #fff;
}

.ProjectsList li:hover{
  background: #222;
  color: #fff;
}

.ProjectsList li {
    background: #888;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    transition: all 0.3s;
    font-family: sans-serif;
}
