.imageBox img{
height:100%;
width:100%;
display: block;
transition: .3s ease-in-out;

}

.imageBox:hover img{
    transform: scale(1.3);
    
}

.ServiceTitleOne {
    font-size:18px;
    color:#222;
    font-weight:700;
    line-height:1.4;
    margin:20px 0;
    height:30px;
}

.imageBox{
    height:164px;
    width:265px;
    overflow: hidden;
    display:inline-block;
}

.singleService {
    font-size: 16px;
    color:#677078;
    line-height: 1.688;
    margin-bottom: 20px;
    width:265px;
    
}



