.services .slick-prev, .slick-next {
  font-size: 15px !important;
}

 .services .slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.services{
  height: 700px;
}

@media (max-width: 600px) {
  .services{
    height:650px
  }
}