.Post-img-box img{
    width:100%;
    height:440px;
    }
    
    .newsPost ul {
        margin: 0px;
        list-style: none;
        padding:0px;
    }

    .privacy ul{
        margin-left:40px;
    }
    
    li.post-category {
        position: absolute;
        left: 0px;
        
        z-index: 1;
        margin-right: 0px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform-origin: left 0px;
        -webkit-transform-origin: left 0px;
        -moz-transform-origin: left 0px;
        -o-transform-origin: left 0px;
        -ms-transform-origin: left 0px;
        border-right: 20px solid #fff;
        border-bottom: 20px solid #fff;
        background-color: #fff;
    }
    
     .post-category span {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        background-color: #222;
        font-size: 24px;
        display: block;
        padding: 2px 15px;
        letter-spacing: 2px;
    }
    li.post-date {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        color: #222;
        position: relative;
        padding-top:30px;
    }
    
    .post-title {
        margin-bottom: 15px;
    }

    
    
    .post-text p {
      margin-bottom:20px;
      
        color: #898989;
        margin: 0 0 1.2em !important;
        padding: 0;
        font: 400 1em/1.8em "Open Sans", sans-serif;
            font-size: 1em;
        letter-spacing: 0.3px;
        font-size: 16pt;
    
    }
    