.single-jobs-post section {
    padding-top: 80px;
  
}

.row.career-single-info {
    margin: 0;
}

.row.career-single-info>div {
    padding: 0;
}

.careerBox {
    padding: 30px 35px;
    background: #222;
    color: #fff;
}

.careerBox i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 20px;
    margin-right: 15px;
    text-align: right;
}

.careerBox h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 15px;
    padding-left: 35px;
}

.careerBox p {
    margin-bottom: 0;
    color: rgba(255,255,255,.8);
    line-height: 1;
    padding-left: 35px;
}




.singleJobDesc p{
    font-size: 18px;
    color: #677078;
    line-height: 1.688;
    margin-bottom: 20px;
}

.singleJobDesc h2 {
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
}


.list-style-two {
    padding-left: 0;
    margin-top: 0;
}

.list-style-two li {
    position: relative;
    list-style: outside none!important;
    font-size: 18px;
    line-height: 24px;
    color: #5b5b5b;
    font-weight: 700;
      padding: 15px 0;
    padding-left: 40px;
    margin-bottom: 11px;
    width:100%;
    border-bottom: 2px solid #f4f5f8;
}

.list-style-two li:before {
    content: "\f192";
    position: absolute;
    left: 0;
    top: 15px;
    display: block;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0;
 
    color: #8d8d8d;
    font-weight: 900;
    font-family: "font awesome 5 free";

}
