@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

nav{
    font-family: 'IBM Plex Mono', monospace;
    
}


.bg-dark{
    background-color: transparent !important;
}

.navColored {
    background-color: #212529 !important;

}

/* .testing{
    max-width: 65em !important;
    width: calc(100% - 6em) !important;
    margin: 0 auto;
} */